@page "/register"
@layout HeadlessLayout

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" md="8" lg="6">
        <MudPaper Class="mud-with-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="imgs/dima.png" alt="Dima - Controle Financeiro" width="200">
            </div>

            <MudForm @ref="_mudForm">
                <MudTextField T="string" Label="E-mail" InputType="InputType.Email" Required
                    RequiredError="Informe o E-mail"
                    Validation="@(new EmailAddressAttribute{ ErrorMessage = "E-mail Inválido"})" />

                <MudTextField T="string" Label="Senha" InputType="InputType.Password" Required
                    RequiredError="Senha Inválida" />

                <div class="d-flex mt-8">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Login"
                        Style="width:250px">
                        Cadastrar
                    </MudButton>

                    <MudSpacer />

                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/login" Style="width:250px"
                        StartIcon="@Icons.Material.Filled.PersonAdd">
                        Já tenho uma conta
                    </MudButton>
                </div>

            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    MudForm? _mudForm;
}
